{% extends "base.html" %}

{% block header %}
<div>
    <div class="bg-body-tertiary p-3 p-sm-5 mb-4">
        <div class="container">
          <h1 class="display-4">TodoList</h1>
          <p>Create Todo list</p>
        </div>
    </div>
</div>
{% endblock header %}


{% block content %}
<div class="container mt-2">
    <a href="{% url "create" %}" class="btn btn-secondary mb-2" role="button" aria-disabled="true">Create todo</a>

    {% for post in object_list %}
    <div class="alert alert-{{ post.priority }}" role="alert">
        <p>Title:{{ post.title }} Due date:{{ post.due_date | date:"F d Y" }}</p>
        <a href="{% url "update" pk=post.pk %}" class="btn btn-info" role="button" aria-disabled="true">Edit todo</a>
        <a href="{% url "detail" pk=post.pk %}" class="btn btn-success" role="button" aria-disabled="true">Todo detail</a>
        <a href="{% url "delete" pk=post.pk %}" class="btn btn-primary" role="button" aria-disabled="true">Delete todo</a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
