{% extends "base.html" %}

{% block header %}
<div>
    <div class="bg-body-tertiary p-3 p-sm-5 mb-4">
        <div class="container">
          <h1 class="display-4">TodoList</h1>
          <p>Create Todo list</p>
        </div>
    </div>
</div>
{% endblock header %}


{% block content %}
<div class="container mt-2">

    {% for post in object_list %}
    <div class="alert alert-{{ item.priority }}" role="alert">
        <p>{{ post.title }}</p>
        <a class="btn btn-info" role="button" aria-disabled="true">Edit todo</a>
        <a class="btn btn-success" role="button" aria-disabled="true">Todo detail</a>
        <a class="btn btn-primary" role="button" aria-disabled="true">Delete todo</a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
